<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 logo-text">
        <p><span>about</span> <span>natdc</span></p>
        <div class="row">
          <div class="col-md-3 round-logo">

          </div>
          <div class="col-md-9">
            <p>National Diversity Congress is dedicated to providing resources for advocating increased diversity and a better understanding on how to combat sexisim, racism, heterosexism, ageism, and ableism in the workplace.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-md-offset-1">
        <div id="mf_placeholder"
             data-formurl="//natdc.org/machform/embed.php?id=10840"
             data-formheight="463"
             data-paddingbottom="10">
          <p><span>Stay</span> <span>in touch</span></p>
          <iframe id="mf_iframe" onload="javascript:parent.scrollTo(0,0);" height="430" allowtransparency="true" frameborder="0" scrolling="no" style="-ms-overflow-y: hidden; width:100%;border:none;height:146px !important" src="https://appmoneyshow.com/machform/embed.php?id=11310">&lt;a href="http://appmoneyshow.com/machform/embed.php?id=11310"&gt;View Form&lt;/a&gt;</iframe>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-md-offset-1 contacts">
        <p><span>contact</span> <span>us</span></p>
        <span><a href="mailto:events@natdc.org">events@natdc.org</a></span>
        <span>(702) 900 8651</span>
        <span>848 N. Rainbow, Suite 141</span>
        <span>Las Vegas, NV, 89107</span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-bot">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <p>Copyright © 2017 | NatDC - Women in Leadership | Privacy Policy</p>
      </div>
    </div>
  </div>
</div>
