<div class="container-fluid ">
  <div class="row ">
    <div class="col-md-3 col-xs-9  logo">

    </div>
    <div class="col-xl-1 gamburger ">
      <i (click)="changeShowStatus()" class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div *ngIf="showHide"  class=" mob-menu">
      <span>Attend</span>
      <span>Agenda</span>
      <span>Awards</span>
      <span>Help</span>
      <span>Speak</span>
    </div>
    <div class="col-md-8 hidden-md-down nav-items">
      <span>Attend</span>
      <span>Agenda</span>
      <span>Awards</span>
      <span>Help</span>
      <span>Speak</span>
    </div>
  </div>
</div>
