<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 header">
      <app-header-nav></app-header-nav>
      <div class="container">
        <div class="row">
          <ul>
            <li><span>2</span>days</li>
            <li><span>20</span>talks</li>
            <li><span>90</span>women leaders</li>
          </ul>
          <div class="col-md-7 col-sm-12" style="padding: 0">
            <p><span>HARVARD BOSTON, </span>OCTOBER 2-3 2018</p>
            <p>When you’re busy leading a team, growing your department and setting new standards, how do you find the time for your own personal development and growth?</p>
            <p>Women in Leadership is designed to equip leaders and rising leaders in higher education with the tools, practical advice and networking opportunities to become next level changemakers.</p>
            <button>Apply to speak</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 speakers">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 ">
            <span class="title">speakers</span>
            <p>The call for submissions is <span>NOW OPEN</span>.</p>
            <p>Want to be involved?  We are accepting submissions now. Submit your talk!</p>
            <p><span>Submit your talk</span>!</p>
          </div>
          <div class="col-md-6 col-sm-12" style="text-align: center;">
            <button>Apply to speak</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 attend">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="title">Why Attend?</span>
            <p>Hear from your peers</p>
            <p>See firsthand solutions that others are putting to place</p>
            <p>Discuss challenges that your organization are facing today</p>
            <p>Network and share best practices</p>
            <p>Maximize your personal professional development</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 attend-rate">
      <span>ATTEND</span>
      <div class="row">
        <div class="col-md-12 rate-block">
          <div class="container">
            <div class="row">
              <div class="col-md-4 early">
                <ul>
                  <li>Early-Bird Rate</li>
                  <li>$1599</li>
                  <li>Until March 1, 2018</li>
                  <li>Two days full access to all lectures, workshops and networking</li>
                  <li>Enjoy daily breakfasts and gourmet lunches</li>
                  <li>Pay by credit card or check</li>
                </ul>
                <button>Register now</button>
              </div>
              <div class="col-md-4 regular">
                <ul>
                  <li>Early-Bird Rate</li>
                  <li>$1999</li>
                  <li>Until March 1, 2018</li>
                  <li>Two days full access to all lectures, workshops and networking</li>
                  <li>Enjoy daily breakfasts and gourmet lunches</li>
                  <li>Pay by credit card or check</li>
                </ul>
                <button>Register now</button>
              </div>
              <div class="col-md-4 regular">
                <ul>
                  <li>Non Higher Ed</li>
                  <li>$2,499</li>
                  <li>Until March 1, 2018</li>
                  <li>Two days full access to all lectures, workshops and networking</li>
                  <li>Enjoy daily breakfasts and gourmet lunches</li>
                  <li>Pay by credit card or check</li>
                </ul>
                <button>Register now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 location">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span class="title">location</span>
            <p>Harvard Faculty Club</p>
            <span>20 Quincy Street</span>
            <span>Cambridge, MA, 02138</span>
            <span>Main Dining Room</span>
            <div class="col-md-10 dinner-room">

            </div>
          </div>
          <div class="col-md-6 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12877.015934111134!2d-115.26597770000001!3d36.20902115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e377448fc6e805%3A0x3b991376976f0a1d!2sHarvard+Faculty+Club!5e0!3m2!1sen!2sus!4v1506632585038"
                    width="100%" height="520px" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 photo">

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 travel">
        <span class="title">travel</span>
        <div class="row">
          <div class="col-md-7">
            <p>Traveling in for this event?  We've partnered with several hotels to offer you a NatDC Group rate.  Rooms are available on a first-come, first-serve basis. Conference attendees are encouraged to book their rooms early.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
